.wrapper-league-new
  = render "application/header"
  = render "application/header-league", group: @group, users: @users
  .main-league-new
    .main-league-new__contents
      %h2<>Add league
      = form_with model: [@group, @league], local: true, id: "new-league" do |f|
        - if @league.errors.any?
          .league-new__errors
            %h2= "Error: #{@league.errors.full_messages.count}"
            %ul
              - @league.errors.full_messages.each do |message|
                %li= message
        .field
          %label<>league name
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name", class: 'input-field'
        .field.check-boxes
          %label.check-box<>members
          .check-boxes__box
            = f.collection_check_boxes :user_ids, @group.users, :id, :name
        .actions
          = f.submit "Add league",class: 'button-green'
  %footer.group
    .footer-left<>League Match App
    .footer-right
      %p<>App favicon by 
      = link_to "ios-filled", "https://icons8.jp/icon/pack/alphabet/ios-filled"
      %p<>,
      = link_to "icons8", "https://icons8.com/"
