.wrapper-league-show
  %header.group
    = link_to current_user.name, groups_path, class: "header-user-name"
    = link_to edit_user_path(current_user), class: "header-cog" do
      = icon('fas', 'cog', class: "header-cog__icon")
  .header-league
    .header-league__name-member
      = link_to @group.name, group_leagues_path(@group.id), class: "group-name"
      %ul.group-members
        - @users.each do |user|
          %li.group-members__member= user.name
    = link_to edit_group_path(@group.id), class: "group-cog" do
      = icon('fas', 'cog', class: "group-cog__icon")
  .header-league-show
    .header-league-show__name-member
      %h2.league-name= @league.name
      %ul.league-members
        - @users.each do |user|
          %li.league-members__member= user.name
    = link_to edit_group_league_path(@group.id, @league.id), class: "league-cog" do
      = icon('fas', 'cog', class: "league-cog__icon")
  .main-league-show
    .main-league-show__contents
      .league-table
        %table
          %tr
            %th<>
            - @users.each do |user|
              %th.thtd-user-name=user.name
            %th.thtd-won<>won
            %th<>lost
            %th<>even
            %th<>rank
          - i = 0
          - @users.each do |user|
            %tr
              %td.thtd-user-name=user.name
              - j = 0
              - @users.each do |user2|
                - if i == j
                  %td.td-gray
                - else
                  %td{"data-user-name": user.name, "data-user2-name": user2.name}= @league.get_game_scores(user.id, user2.id)
                - j += 1
              %td.thtd-won
              %td
              %td
              %td
              - i += 1
      .league-form
        = form_with model: [@group, @game], local: true do |f|
          = f.hidden_field :league_id, {value: @league.id}
          .form-scores
            .form-scores__score-box
              = f.select :user_name, @name_array, { include_blank: "select"}, class: "form-name"
              = f.number_field :user_score, placeholder: "00", class: "form-score"
              %span.score-vs<>-
              = f.number_field :user2_score, placeholder: "00", class: "form-score"
              = f.select :user2_name, @name_array, { include_blank: "select"}, class: "form-name"
            .form-scores__send-btn
              = f.submit "Send", class: "button-green"
      .league-order
        .order-header
          .order-header__left.order-header__side
          .order-header__center
            %h2<>Recommended order
          .order-header__right.order-header__side
            %label#info-toggle
              = icon('fas', 'info-circle', class: "label-tip__icon")
            #fadein-fadeout
        .order-contents
          - if @user_num <= 1
            %span<>error
          - elsif @user_num % 2 == 0
            - i = 0
            - (@user_num-1).times do |j|
              .round-box
                .round-box__header
                  %span.round-head<>Round
                  %span= j+1
                - (@user_num/2).times do
                  .game-box
                    %span.user-name.user-name__left= @games[i].user.name
                    %span.score= @games[i].user_score
                    %span.score-vs<>-
                    %span.score= @games[i].user2_score
                    %span.user-name.user-name__right= @game_user2_names[i]
                    - i += 1
          - else 
            - i = 0
            - @user_num.times do |j|
              .round-box
                .round-box__header
                  %span.round-head<>Round
                  %span= j+1
                - ( (@user_num-1)/2 ).times do
                  .game-box
                    %span.user-name.user-name__left= @games[i].user.name
                    %span.score= @games[i].user_score
                    %span.score-vs<>-
                    %span.score= @games[i].user2_score
                    %span.user-name.user-name__right= @game_user2_names[i]
                    - i += 1
                .no-game-box<>
                  %span.nogame<>no game:
                  %span.nogame-user-name= @game_nones[j]
      .league-comments
        %span<>test


  %footer.group
    .footer-left<>League Match App
    .footer-right
      %p<>App favicon by 
      = link_to "ios-filled", "https://icons8.jp/icon/pack/alphabet/ios-filled"
      %p<>,
      = link_to "icons8", "https://icons8.com/"
