.wrapper-sign-edit
  = render "application/header"
  .main-sign-edit
    .main-sign-edit__contents
      %h2<>Edit account
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          %label<>name
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field"
        .field
          %label<>email
          %br/
          = f.email_field :email, autocomplete: "email", class: "input-field"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field
          %label<>password (minimun 6 character)
          %br/
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, class: "input-field"
        .field
          %label<>password confirmation
          %br/
          = f.password_field :password_confirmation, class: "input-field"
        .field
          %label<>current password
          %br/
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, class: "input-field"
        .actions
          = f.submit "Update", class: "button-green"
      .other-btns
        = link_to edit_user_path(current_user), class: "back-btn btn-wrapper" do
          %button.button-gray<>Back
        = link_to user_registration_path, method: :delete, data: { confirm: "Are you sure?" }, class: "cancel-btn btn-wrapper" do
          %button.button-red<>Cancel account
  %footer.group
    .footer-left<>League Match App
    .footer-right
      %p<>App favicon by 
      = link_to "ios-filled", "https://icons8.jp/icon/pack/alphabet/ios-filled"
      %p<>,
      = link_to "icons8", "https://icons8.com/"

-# = render "devise/shared/links"
