.wrapper-group-edit
  %header.group
    = link_to current_user.name, groups_path, class: "header-user-name"
    = link_to edit_user_path(current_user), class: "header-cog" do
      = icon('fas', 'cog', class: "header-cog__icon")
  .main-group-edit
    .main-group-edit__contents
      %h2 Edit group
      = render partial: 'form_group', locals: { group: @group }
  %footer.group
    .footer-left<>League Match App
    .footer-right
      %p<>App favicon by 
      = link_to "ios-filled", "https://icons8.jp/icon/pack/alphabet/ios-filled"
      %p<>,
      = link_to "icons8", "https://icons8.com/"

