.wrapper-user-edit
  = render "application/header"
  .main-user-edit
    .main-user-edit__contents
      = link_to destroy_user_session_path, method: :delete, class: "sign-out-btn btn-wrapper" do
        %button.button-gray<>Sign out
      = link_to edit_user_registration_path, class: "edit-account-btn btn-wrapper" do
        %button.button-gray<>Edit account
      = link_to :back, class: "back-btn btn-wrapper" do
        %button.button-green<>Back
  = render "application/footer"
