.wrapper-user-top
  %header.group
    = link_to current_user.name, groups_path, class: "header-user-name"
    = link_to edit_user_path(current_user), class: "header-cog" do
      = icon('fas', 'cog', class: "header-cog__icon")
  .main-user-top
    .main-user-top__contents
      = link_to destroy_user_session_path, method: :delete, class: "sign-out-btn btn-wrapper" do
        %button.button-gray<>Sign out
      = link_to edit_user_registration_path, class: "edit-account-btn btn-wrapper" do
        %button.button-gray<>Edit account
      = link_to root_path, class: "back-btn btn-wrapper" do
        %button.button-green<>Back
  %footer.group
    .footer-left<>League Match App
    .footer-right
      %p<>App favicon by 
      = link_to "ios-filled", "https://icons8.jp/icon/pack/alphabet/ios-filled"
      %p<>,
      = link_to "icons8", "https://icons8.com/"
